/* MOBILE */
@media only screen and (min-width: 320px) and (max-width: 599px) {
    .masonry {
      column-count: 2;
    }

    .shortcut{
        width:100%;
    }
    .recipe{
        width:90%;
    }

    .primary{
        font-size: 20pt;
        margin-bottom: 0px;
    }

    .blogpost{
        width:100%;

    }

    .subscribe{
        background-attachment:scroll;
    }

    .header2{
        margin-right: auto;
    }

    .sidenav{
        width:100%
    }

    .small{
        opacity:100%;
    }

    .contact{
        width:100%
    }

    .josefin{
        font-size:large;
    }
    #recipe_index{
        width:100%
    }
}
  /* Masonry on tablet */
  @media only screen and (min-width:600px) and (max-width: 899px) {

  .masonry {
      column-count: 2;
    }
    .shortcut{
        width:40%;
  }
    .recipe{
        width:90%;
    }
    .primary{

        font-size: 20pt;
        margin-bottom: 150px;

    }
    .blogpost{
        width:100%;
       
    }
    .subscribe{
        background-attachment: fixed;
    }
    .header2{
        margin-right: auto;
        margin-left: auto;
    }
    
    .sidenav{
        width:100%;
    }
    .small{
        opacity:0%;
    }
    .josefin{
        font-size:larger;
    }

    #recipe_index{
        width:100%
    }
}
  /* Masonry on desktop */
  @media only screen and (min-width:900px) {

    .masonry {
        column-count: 3;
      }
      .shortcut{
          width:22%;
    }
      .recipe{
          width:90%;
      }
      .primary{
  
          font-size: 20pt;
          margin-bottom: 150px;
  
      }
      .blogpost{
          width:50%;
          margin-left:120px;
          margin-right: 40px;
      }
      .subscribe{
          background-attachment: fixed;
      }
      .header2{
          margin-right: auto;
          margin-left: auto;
      }

      .sidenav{
        width: 25%;
      }

      .small{
        opacity:0%;
    }
    .josefin{
        font-size:xx-large;
    }

    #recipe_index{
        width:60%
    }
  
  }



.text-primary{
    color:white !important;
}


.square{
    background-color: whitesmoke;
}
.container{

    width:85%;
    position:relative;
    z-index: 1;
    background-color:rgb(255, 255, 255);
    opacity: 100%;
    border-radius: 5px;

}   




hr{
    width:50%;
    float:right;
}

*{
    font-family: 'Pavanam', sans-serif;
}
h2{
    font-weight:bold;
    padding-top:40px;
    margin-top:10px;
    padding-left:18px;
    text-align:center;
}
.logo{
    height:100%;
    max-width:350px;
    position: relative;
    z-index: 1; 
    margin-left:auto;
    margin-right:auto;

}


.shortcut{
    
    margin: 1%;
    padding: 1%;
    float:left;
}
.shortcut:hover{
    padding:0px;
}

.navbar{
    /*position:fixed;*/
    min-height: 65px;
    width:100%;
    opacity: 100%;
    z-index: 2;
    font-weight:bold;
    border-radius: 5px ;
    color:white  !important;
}
.nav-link{
    margin:2px;
    padding:2px;
    font-size:xx-large;
}


li{
    font-family: 'Josefin slab', sans;
}




.row{
    padding:10px;
}

/* Menu */
.bg-dark {
    background-color: #921313 !important;
    background:transparent impor !important;
  }

  .bg-light {
    background-color: #ffffff !important;
    background:transparent;
  }


.navbar {
    color:white  !important;

}

img {
    width:100%;
}

#about{
    width: 50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}


footer{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 40px;
    background-color: rgb(240, 233, 233);
    z-index: 2;
    text-align: center;
    opacity: 75%;

}

body{
    min-height:100%;
    /* max-width:900px; */
    
    /*background-image: url(/images/pizza.jpg);*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #ffffff;

}


.navbar-nav { 
    margin-left:auto;
    margin-right:35px;
    color:white  !important;
}

#author{
    font-size:large;
}
p{
    padding-left: 30px;
    padding-right: 30px;
    font-size:larger;
}

.recipe{
    background-color:rgb(255, 251, 251);
    margin-right:auto;
    margin-left:auto;
    opacity:100%;
    padding:20px;

}

.recipe-pic{
    max-width:250px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

h1{
    text-align:center;
    font-family:'amatic sc', cursive;
    font-size:36pt;
}

.subscribe{
    display:block;
    width:100%;
    position:relative;
    z-index: 1;
    background-color:rgb(255, 255, 255);
    opacity: 95%;
    border-radius: 5px;
    /*margin-left:auto;
    margin-right:auto;*/
    padding:10px;

    background-image: url(/images/pizza.jpg);
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #ffffff;

}

.mail{
    margin-top: 20px;
    margin-bottom:20px;
    padding-top:20px;
    display:block;
    margin-left:40px;
    margin-right:40px;
    color:white;
    text-align: center;
}

input{
    margin-left:auto;
    margin-right:auto;
    display:block;
    border-radius: 8px;
    background-color: rgb(255, 251, 251);
    font-family: 'Josefin Slab',sans;


}



.space{
    height:75px;
}



/* Masonry*/

.masonry{
   
    
    column-gap: 1em;
}

.item {
    border: 40px;
    padding:10px;
    background-color:rgb(245, 240, 240);
    display: inline-block;

    padding:10px;
    width: 100%;

}
.item:hover{
    opacity: 100%;
}




.sidenav a {
    /*padding: 6px 8px 6px 16px;*/
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    
  }
  
  .sidenav {
    z-index: 1;
    top: 0;
    right:0;
    background-color:white;
    overflow-x: hidden;
    padding-top: 20px;
    float:left;
    margin:10px;
    display:block;
  }

  .blogpost{
    
    position:relative;
    z-index: 1;
    background-color:rgb(255, 255, 255);
    opacity: 95%;
    border-radius: 5px;
    float:left;
    font-size:larger;
    
    
  }

  .recipe_step{
      font-size:xx-large;
  }

  .header2{
      max-width: 250px;
      display: block;

      margin-top: 20px;
  }

  .commenter{
   float:left;
   margin-left:40px;
  }

  .comment_form{
      float:left;
  }

 
  hr{
      width:100%;
    border: none;

    height: 1px;
    display: block;
    content: " ";
    background: repeating-linear-gradient(to right, rgba(0,0,0,0.5) 0,
        rgba(0,0,0,0.5) 1px, rgba(255,255,255,0) 1px,
        rgba(255,255,255,0) 2px);

  }


  .sing_shortcut{
    width:100%;

      background-image: url(/images/sing_background.png);
      /*background-attachment: fixed;*/
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: #ffffff;
    
  }

  .sweetnsour_shortcut{
    width:100%;

      background-image: url(/images/sweetnsour_background.jpg);
      /*background-attachment: fixed;*/
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: #ffffff;
    
  }
  .laksa_shortcut{
    width:100%;
    height:auto;
    
      background-image: url(/images/laksa_background.jpg);
      /*background-attachment: fixed;*/
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: #ffffff;
  }

  .thai_yellow_shortcut{
    width:100%;
    
    
      background-image: url(/images/thai_yellow_background.jpg);
      /*background-attachment: fixed;*/
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: #ffffff;
  }

.small:hover{
    opacity:100%
}

.media-icon{
    margin-left:1000px;
    width:30px;
    float:right;
    height:100%;
    margin:20px;
    margin-bottom:0px;
}

button{
    border-radius: 10px;
}

.blog_ad{
    width:100%
}

.center{
    text-align: center;
}

.prof_pic{
    width:250px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:0px;

}

.contact{
    text-align:center;
    background-color:rgb(255, 251, 251);
   
}

.blog_shortcut{
    width:80%;
   border-radius: 100%;
}

.intro{
    height:600px;
}

*{
    font-family: 'Amatic SC', cursive;
}
p{
    font-family:'Josefin Slab', sans;
}

#commentInput{
    
    height:100px;
    width:300px;
}


#nameInput{

   width:300px;
}
#emailInput{
    width:300px;

}

label{

}

.comment{
    background-color:rgb(255, 251, 251);
    
    padding:15px;
}

.large-text{
    font-size:12mm;
}



.left{
    float: left;
}

#tempComment{
    float:left;
}

.josefin{
    font-family:'Josefin Slab', sans;
    
}

#thankyou{
    color:white;
    font-weight:bold;
}

a{
    font-family:'Josefin Slab', sans;
}