/* MOBILE */
@media only screen and (min-width: 320px) and (max-width: 599px) {
    .masonry {
      column-count: 2;
    }

    .shortcut{
        width:100%;
    }
    .recipe{
        width:75%;
    }

    .primary{
        font-size: 20pt;
        margin-bottom: 0px;
    }

    .blogpost{
        width:100%;
    }

    .subscribe{
        background-attachment:scroll;
    }
}
  /* Masonry on desktop */
  @media only screen and (min-width:600px) {

  .masonry {
      column-count: 4;
    }
    .shortcut{
        width:30%;
  }
    .recipe{
        width:75%;
    }
    .primary{

        font-size: 20pt;
        margin-bottom: 150px;

    }
    .blogpost{
        width:50%;
        margin-left:120px;
        margin-right: 40px;
    }
    .subscribe{
        background-attachment: fixed;
    }
}

.text-primary{
    color:white !important;
}


.square{
    background-color: whitesmoke;
}
.container{

    width:75%;
    position:relative;
    z-index: 1;
    background-color:rgb(255, 255, 255);
    opacity: 95%;
    border-radius: 5px;

}   




hr{
    width:50%;
    float:right;
}

*{
    font-family: 'Pavanam', sans-serif;
}
h2{
    font-weight:bold;
    padding-top:40px;
    margin-top:10px;
    padding-left:18px;
    text-align:center;
}
.logo{
    height:100%;
    max-width:350px;
    position: relative;
    z-index: 1; 
    margin-left:auto;
    margin-right:auto;

}


.shortcut{
    
    margin: 1.5%;
    padding: 1.5%;
    float:left;
}
.shortcut:hover{
    padding:0px;
}

.navbar{
    /*position:fixed;*/
    width:100%;
    opacity: 95%;
    z-index: 2;
    font-weight:bold;
    border-radius: 5px ;
    color:white  !important;
}
.nav-link{
    margin:2px;
    padding:2px;
    font-size:larger;
}







.row{
    padding:10px;
}

/* Menu */
.bg-dark {
    background-color: #6e0d0d !important;
    background:transparent impor !important;
  }

  .bg-light {
    background-color: #ffffff !important;
    background:transparent;
  }


.navbar {
    color:white  !important;

}

img {
    width:100%;
}

#about{
    width: 50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}


footer{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 40px;
    background-color: rgb(240, 233, 233);
    z-index: 2;
    text-align: center;
    opacity: 75%;

}

body{
    min-height:100%;
    /* max-width:900px; */
    
    /*background-image: url(/images/pizza.jpg);*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #ffffff;

}


.navbar-nav { 
    margin-left:auto;
    margin-right:35px;
    color:white  !important;
}

#author{
    font-size: small;
}
p{
    padding-left: 30px;
    padding-right: 30px;
}

.recipe{
    background-color:rgb(255, 251, 251);
    margin-right:auto;
    margin-left:auto;
    opacity:100%;
    padding:20px;

}

.recipe-pic{
    max-width:250px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

h1{
    text-align:center;
}

.subscribe{
    display:block;
    width:100%;
    position:relative;
    z-index: 1;
    background-color:rgb(255, 255, 255);
    opacity: 95%;
    border-radius: 5px;
    /*margin-left:auto;
    margin-right:auto;*/
    padding:10px;

    background-image: url(/images/pizza.jpg);
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #ffffff;

}

.mail{
    margin-top: 20px;
    margin-bottom:20px;
    padding-top:20px;
    display:block;
    margin-left:40px;
    margin-right:40px;
    color:white;
    text-align: center;
}

input{
    margin-left:auto;
    margin-right:auto;
    display:block;

}


.space{
    height:75px;
}



/* Masonry*/

.masonry{
    margin-left: 5%;
    margin-right:5%;
    column-gap: 1em;
}

.item {
    border: 40px;
    padding:10px;
    background-color:rgb(245, 240, 240);
    display: inline-block;

    padding:20px;
    width: 100%;
    opacity:95%
}
.item:hover{
    opacity: 100%;
}




.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    
  }
  
  .sidenav {
    
    width: 25%;
    
    z-index: 1;
    top: 0;
    right:0;
    background-color:white;
    overflow-x: hidden;
    padding-top: 20px;
    float:left;
    margin:40px;
    display:block;
  }

  .blogpost{
    
    position:relative;
    z-index: 1;
    background-color:rgb(255, 255, 255);
    opacity: 95%;
    border-radius: 5px;
    float:left;
    
  }